begin options
{%- if print_input is defined -%}  print_input{%- endif -%}
end options

begin dimensions
  maxhfb {{maxhfb}}
end dimensions

{% for i, path in periods.items() %}begin period {{i}}
  open/close {{path}} (binary)
end period{% endfor %}